/* LoginSignup.css */

.container {
    width: 300px;
    margin: auto;
    margin-top: 100px;
  }
  
  .header {
    text-align: center;
  }
  
  .text {
    font-size: 24px;
    font-weight: bold;
  }
  
  .underline {
    width: 50px;
    height: 3px;
    background-color: #000;
    margin: 10px auto;
  }
  
  .inputs {
    margin-top: 20px;
  }
  
  .input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  input {
    flex: 1;
    margin-left: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  input:focus {
    border-color: #000;
  }
  
  .submitcontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .submit {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit:hover {
    background-color: #555;
  }
  
  .gray {
    background-color: #ccc;
    color: #000;
  }
  